<!DOCTYPE html>
<html>
<head>
    <title>OCR Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>OCR Image Upload</h1>
    
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Upload & OCR">
    </form>
    
    <div id="result">
        <h2>Hasil OCR:</h2>
        <pre>{{ extracted_information }}</pre>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
